name: Build and push Docker image

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  CURRENT_VERSION: 29.1.1
  BUILD_NUMBER: 0
  LATEST_UBUNTU_VERSION: "24.04"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - ubuntu_version: "22.04"
            ubuntu_name: "jammy"
          - ubuntu_version: "24.04"
            ubuntu_name: "noble"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install sysbox
        run: |
          cd /tmp
          wget https://downloads.nestybox.com/sysbox/releases/v0.6.7/sysbox-ce_0.6.7-0.linux_amd64.deb
          sudo dpkg -i sysbox-ce_0.6.7-0.linux_amd64.deb

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: cruizba
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build standalone image
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          file: Dockerfile
          platforms: linux/amd64
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu_version }}
          tags: |
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-test

      - name: Test standalone image (privileged mode)
        run: |
          chmod +x test.sh
          ./test.sh --mode privileged --use-systemd false --image-name cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-test

      - name: Test standalone image (sysbox-runc mode)
        run: |
          ./test.sh --mode sysbox-runc --use-systemd false --image-name cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-test

      - name: Build and push standalone image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu_version }}
          tags: |
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-${{ env.CURRENT_VERSION }}
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-${{ env.CURRENT_VERSION }}-r${{ env.BUILD_NUMBER }}
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-latest
            ${{ matrix.ubuntu_version == env.LATEST_UBUNTU_VERSION && 'cruizba/ubuntu-dind:latest' || '' }}

      - name: Build systemd image
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          file: Dockerfile.systemd
          platforms: linux/amd64
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu_version }}
          tags: |
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-test

      - name: Test systemd image (privileged mode)
        run: |
          ./test.sh --mode privileged --use-systemd true --image-name cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-test

      - name: Test systemd image (sysbox-runc mode)
        run: |
          ./test.sh --mode sysbox-runc --use-systemd true --image-name cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-test

      - name: Build and push systemd image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile.systemd
          platforms: linux/amd64,linux/arm64
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu_version }}
          tags: |
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-${{ env.CURRENT_VERSION }}
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-${{ env.CURRENT_VERSION }}-r${{ env.BUILD_NUMBER }}
            cruizba/ubuntu-dind:${{ matrix.ubuntu_name }}-systemd-latest
            ${{ matrix.ubuntu_version == env.LATEST_UBUNTU_VERSION && 'cruizba/ubuntu-dind:systemd-latest' || '' }}
